

.env


pycache/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pyvenv.cfg
.pytest_cache/



env/
venv/
.venv/
myenv/



models/
test_files/
data/
*.pdf
*.png
*.jpg
*.jpeg
*.csv


.vscode/
.idea/
.DS_Store
Thumbs.db

D:\CS311 Project\data

.streamlit/secrets.toml